.cardPerson{
    margin-bottom: 50px;
}

@media (max-width: 600px) {

    .cardPerson{
        width: 100%;
    }

    .BoxItems{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 600px) {

    .cardPerson{
        width: 40%;
    }

    .BoxItems{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

