.authorContainer:hover{
    transition: all 1s ease;
    transform: scale(1.1);
}


.authorSocial{
    text-decoration: none !important;
    color: #212121;
    transition: 0.8s linear;
}

.authorSocial:hover{
    transform: scale(1.2);
    transition: 0.8s linear;
}

