.my-card-subtitle{
    margin-top: 0.5em !important;
}

.TLContainer p{
    font-size: 1rem !important;
}

.TLContainer p,.my-card-subtitle{
    font-style: italic;
}

.my-title, .my-card-title{
    font-style: oblique;
}

.my-title{
    overflow: initial !important;
}
