.my-card-subtitle{
    margin-top: 0.5em !important;
}

.TimelineContentDetails-sc-d7qjm1-5{
    font-size: 1rem !important;
}

.TimelineContentDetails-sc-d7qjm1-5,.my-card-subtitle{
    font-style: italic;
}

.my-title, .my-card-title{
    font-style: oblique;
}